/* 基础样式 */
body, div, a, img, p {
	padding: 0;
	margin: 0;
}
body {
	font-family: "Microsoft Yahei", "宋体", "Tahoma", Arial;
}
/* 头部样式 */
#header {
	width: 100%;
}
#headerTop {
	background-color: #f3f3f3;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15), inset 0 -1px 0 0
		#fcfcfc;
	border-bottom: 1px solid #c3c3c3;
}
#logoBox {
	width: 1000px;
	height: 60px; margin-left : auto;
	margin-right: auto;
	margin-left: auto;
}
#logoBox a {
	display: inline-block;
	margin-top: 8px;
	color: #c9c9c9;
	text-decoration: none;
}

/* 主体内容样式 */
#main {
	width: 1000px;
	margin: 35px 0;
	margin-left: auto;
	margin-right: auto;
}
#inner {
	position: relative;
	min-height: 730px;
	overflow: hidden;
	border: 1px solid #d3d3d3;
	background-color: #f3f3f3;
	box-shadow: 0 2px 2px 0 #e3e3e3;
	-moz-box-shadow: 0 2px 2px 0 #e3e3e3;
	-webkit-box-shadow: 0 2px 2px 0 #e3e3e3;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#panel {
	border-color: #d3d3d3;
	position: absolute;
	top: 0;
	left: 0;
	width: 250px;
	float: left;
	font-size: 14px;
	padding: 0 0 100px;
	border-right: 1px solid #ECEDE8;
	margin-right: -1px;
}
#panel .portal {
	margin-top: -1px;
}
#panel .portal:first-child h5 {
	border-top-width: 0;
}
#panel h5 {
	height: 35px;
	line-height: 35px;
	margin: -1px 15px 0;
	border: 1px solid #D9D9D9;
	border-width: 1px 0;
	font-size: 14px;
	text-indent: 32px;
	color: #333;
	cursor: pointer;
}
#panel .portal .portal_arrow {
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-left-color: #aaa;
	display: inline-block;
	margin-left: -12px;
	font-size: 1px;
	line-height: 0;
}

/* 底部样式 */
#footer {
	padding: 24px 0;
	color: #dadada;
	font-size: 14px;
	text-align: center;
	background-color: #727171;
}
